@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: #e9e8e8;
    padding: 1rem 0;
}
* {
    font-family: 'Poppins', sans-serif;
}
.inputItem,
.inputQtd,
.inputValue {
    font-size: 1.5rem;
    outline: none;
    padding: .3rem 1rem;
    border-radius: 8px;
    border: 1px solid #888;
}
.inputQtd {
    width: 150px;
}
.inputValue {
    width: 150px;
}
.btnAdd {
    border: 1px solid #888;
    padding: .3rem 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    transition: .33s;
    cursor: pointer;
}
.btnAdd:hover {
    background: #888;
    color: #f5f5f5;
}

.itemList {
    border: 1px solid #a1a1a1;
    padding: 8px;
    text-align: center;
    font-size: 1.5rem;
}
table {
    width: 100%;
}
th {
    background-color: #f2f2f2;
    font-size: 2rem;
    font-weight: 100;
}

tr:hover {
    background-color: #f2f2f2;
}
.itemAction {
    width: 200px;
}
.itemAction > i {
    padding: .3rem .5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: .33s;
}
.itemAction > i:nth-child(1) {
    background: rgb(218, 44, 44);
    color: #f5f5f5;
}
.itemAction > i:nth-child(2) {
    background: rgba(59, 59, 58, 0.603);
    color: #f5f5f5;
}